name: Container
on: push

jobs:
  docker-steps:
    runs-on: ubuntu-latest
    container:
       image: node:10.18.0-jessie
    steps:
      - name: log node version
        run: node -v
      - name: Step with Docker
        uses: docker://node:13.5.0-alpine3.10
        with: 
          entrypoint: '/bin/echo'
          args: 'Hello world'
      - name: log node version
        uses: docker://node:13.5.0-alpine3.10
        with: 
          entrypoint: '/usr/local/bin/node'
          args: -v
      - name: run a Script
        uses: docker://node:13.5.0-alpine3.10
        with: 
          entrypoint: ./script.sh
          args: "some random string"          
  node-docker:
    runs-on: ubuntu-latest
    services:
      app:
        image: alialaa17/node-api
        ports:
          - 3001:3000
      mongo:
        image: mongo
        ports: 
          - "27017:27017"
    # container:
    #   image: node:13.5.0-alpine3.10
    steps:
      - name: Log node version
        run: |
          node -v
          cat /etc/os-release
